<header>
    <div class="hero">

            <div class="branding" >
                <a href="/">
                    <img src="/images/misc/1.jpg" alt="" width="1800px" height="450px">
                </a>
            </div>

    </div>



    <div class="navigation">
        <section class="layout">
            <ul class="nav">
                <li> <a href="/"> <i class="icon-home"> </i> Home </a> </li>
                <li> <a href="/Speakers">  Projects </a> </li>
            </ul>
        </section>
    </div>
</header>