<article id="getbusy">
    <h1>EDUCATION</h1>
    <p> 
        <li> Master of Engineering in Electrical and Computer Engineering, University of Ottawa, Ottawa, Ontario, 2014-2016, GPA: 3.95/4.00</li> 
        <li> Bachelor of Engineering in Measuring and Control Technology and Instrumentation, Yanshan University, China, 2008-2012 </li>
    </p>
</article><!-- article -->


