<article class="speakerlist">

<h1>KEY PROJECTS</h1>
    <p>
       <li>
           <h2><a href=""> Java Game Development </a> &nbsp;&nbsp;&nbsp;&nbsp; 2016.04 – now</h2> 
           <p>&nbsp;&nbsp; Developed a small online game named TankWar using Java in Eclipse</p>
       </li> 
       <li> 
           <h2><a href="https://github.com/menghanchen/MeganBlog">Website Development</a> &nbsp;&nbsp;&nbsp;&nbsp; 2016.02 – 2016.04</h2> 
           <p>&nbsp;&nbsp; using Node.js, Express.js, JavaScript, CSS and HTML techniques</p>
       </li>
       <li> 
           <h2><a href="https://github.com/menghanchen/Chat">Chatting Software Design</a> &nbsp;&nbsp;&nbsp;&nbsp; 2016.01 – 2016.02</h2> 
           <p>&nbsp;&nbsp; client/server based; Connected with MySQL server to realize log-in authentication</p>
       </li>
        <li> 
           <h2><a href="https://github.com/king89/TwoCar/tree/menghanDebug">Android Game Development</a> &nbsp;&nbsp;&nbsp;&nbsp; 2015.09 – 2015.11</h2> 
           <p>&nbsp;&nbsp; Teammenber of android game development</p>
       </li>    
    </p>


 </article>
