<article id="whoarewe">
    <h1>HIGHLIGHTS OF QUALIFICATIONS:</h1>
    <p>
        <ul>
            <li> Superior skills in Java and Matlab; experience with JavaScript, HTML, CSS, MySQL, C/C++ </li> 
            <li> Experience with Eclipse, Sublime, Android Studio and GitHub </li>
            <li> Sound knowledge of database and Internet technologies </li>
            <li> Proficiency in Visio, Excel and other MS Office software  </li>
            <li> Quick learner and excellent communication, interpersonal and written skills </li>
            <li> Extremely motivated, organized professional and committed team player </li>
            <li> Fluent in English and Chinese </li>
        </ul>    
    </p>
</article><!-- article -->


