<article id="whoshouldcome">
    <h1>VOLUNTEER</h1>
    <ul>
        <li>Help to prepare diner for students on Fridays in Ottawa Chinese Bible Church    Aug, 2016</li>
      
        <li>Volunteer for the Caring and Sharing Exchange Program.        Dec., 2015</li>
    </ul>
</article><!-- article -->